<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
    <link href="styles/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <h1>Pets</h1>
    
    <h2>Hello Quill!</h2>
    <img src="images/065.jpg" alt="Pico Shay">
    
    <h3>Hi Jittima</h3>
    <img src="images/spyro.jpg" alt="spyro">
    <p>You are super cute!!</p>

    <h3>My baby</h3>
    <img src="images/shredder.jpg" alt="shredder">
    <p>You are so beautiful!!!</p>

    <h3>Another one</h3>
    <img src="images/-.-.jpg" alt="-.-">

    <button type="button" class="btn btn-dark">Dark</button>
</body>
</html>